body {
    background-color: #414A4C;
}

h1, h2 {
    color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
}

.input {
    display: flex;
    justify-content: center;
}

#prompt {
    width: 100%;
    margin-right: 0;
    font-size: 20px;
    height: 25px;

    border-radius: 10px 0px 0px 10px;
    border: none;
    box-shadow: 0 10px 10px 0px #303738;
}

#submit {
    background-color: #a1b0b4;
    width: 80px;
    margin-left: 0;

    border-radius: 0px 10px 10px 0px;
    border: none;

    cursor: pointer;
    box-shadow: 0 10px 10px 0px #303738;
    
}

h3 {
    color: rgb(223, 223, 223);
    margin-top: 50px;
}

.displayStorage {
    margin: auto;
    width: 90%;
}

.savedPrompts {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;

    height: 300px;
    margin-top: 10px;

    border-radius: 10px 10px 10px 10px;
}

.savedPrompts div {
    background-color: #3a4244;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;

    box-shadow: 0 0 10px 0px #303738;
}

.savedPrompts p {
    color: white;
    padding: 5px;
    margin: 5px;
}

@media only screen and (min-width: 600px) {
    #prompt {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    #prompt {
        width: 20%;
    }

    .displayStorage {
        width: 50%;
        margin: auto;
    }
}